.details {
    width: 100%;
    right: -100%;
    background: white;
    bottom: 0;
    position: absolute;
    padding: 10px;
    height: fit-content;
    min-height: 400px;
}
.icon {
    width: 20px;
    margin-right: 10px;
}
.header {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid gray;
}
.title {
    font-weight: 600;
}
.content {
    padding: 10px 0;
}
.flex {
    display: flex;
    align-items: self-end;;
}